
:root {
    --headerColor: grey;
  }
  
.SubredditButton {
    background-color: rgb(133, 134, 134);
    border-radius: 5%;
    padding: 0 5px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
    width: fit-content;
}

.activeBtn{
    border: 1px green solid;
}
  
  .menu-item-wrapper.active {
    border: 1px blue solid;
  }
  .menu-item.active {
    border: 1px green solid;
  }
  
  .scroll-menu-arrow {
    padding: 0px 20px;
    cursor: pointer;
  }
  
  .scrollMenu{
    background-color: rgb(59, 59, 59);
    min-height: 50%;
    max-height: 50%;
  }
  