.gridImg {
  max-width: 100%; 
  height: auto; 
  /* width: 200px;
  height: 400px; */
  object-fit: contain;
  border-radius: var(--postBorderRadius);
  /* border: solid 3px blue; */
}
.row {
  margin: 10px auto;
  border-radius: var(--postBorderRadius);
  padding: 5px;
  height: auto;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 2px 3px 2px black;
  transition: all 0.4s ease-in;
}

.row:hover {
  background-color: rgba(138, 138, 138, 0.116);
  box-shadow: 0px 4px 3px 2px black;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.likes {
  width: 100%;
  display: flex;
  line-height: 1.3;
  justify-content: center;
}
.ups {
  margin: 0 15px 0 5px;
}
.author {
  color: rgb(111, 111, 240);
}
.heart {
  width: 17px;
  height: 17px;
  background-image: url("https://s.pinimg.com/webapp/love-c31e0b8d.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(93, 89, 106);
  background: radial-gradient(
    circle,
    rgba(93, 89, 106, 0.973) 0%,
    rgba(235, 232, 233, 0.521) 100%
  );
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
}

.modal_content {
  background-color: white;
  padding: 2px;
  overflow-x: hidden;
  border-radius: var(--postBorderRadius);
  border: 2px solid black;
}
.modal_container {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
  margin-bottom: 20px;
}
