.searchBar{
    height: 36px;
    background-color: #efefef;
    border-radius: 10px;
    border: 1px solid var(--newRedditTheme-line);
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
  }
  
  .searchInput{
    background-color: #efefef;
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: inherit;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    border:0;

  }