.gridContainer {
    display: grid;
    width: 99vw;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-auto-flow: column;
    max-width: 100%;
}

.gridImg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border: solid 3px blue;
}

.title {
    font-size: 1rem;
}