.titleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  display: block-flex;
  border: 2px dotted purple;
  box-sizing: border-box;
  flex-direction: row;
  flex-grow: 1;
  padding: 2px 20px;
}

.logoImage{
  min-width: 10%;
  max-width:10%;
  max-height: 10%;
  background-color: transparent;
  color: transparent;
}

.changeLayoutIcon{
  cursor: pointer
}

.largeHeaderOption{
  flex:1 1 200px;
  max-width: 100vh;
}

.smallHeaderOption{
  min-height: 100%;
  max-height: 100%;
  flex:0 1 200px;
  display: flex;
  justify-content: center;
  border: 2px solid orange
}
