.App{
  height: 100vh;
  overflow: hidden
}

.HeaderBar{
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; */
}

.bodySection{
  height: 100%;
  min-width:100%; 
  max-width: 100%;
  overflow: scroll;
  
}
