.App{
  height: 100vh;
  overflow: hidden
}

/* .HeaderBar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; 
} */

.bodySection{
  height: 100%;
  min-width:100%; 
  max-width: 100%;
  overflow: scroll;
}



:root {
  --numCol: 1;
  --maxWidthPercent: 50%;
  --headerAnimation: 0.4s;
  --headerHeight: 100px;
  --newCommunityTheme-actionIcon: #818384;
  --newCommunityTheme-actionIconAlpha20: rgba(129,131,132,0.2);
  --newCommunityTheme-actionIconAlpha50: rgba(129,131,132,0.5);
  --newCommunityTheme-actionIconShaded80: #676869;
  --newCommunityTheme-actionIconTinted80: #9a9b9c;
  --newCommunityTheme-active: #0079D3;
  --newCommunityTheme-activeAlpha10: rgba(0,121,211,0.1);
  --newCommunityTheme-activeAlpha20: rgba(0,121,211,0.2);
  --newCommunityTheme-activeAlpha50: rgba(0,121,211,0.1);
  --newCommunityTheme-activeLight60: #33a8ff;
  --newCommunityTheme-activeShaded80: #0060a8;
  --newCommunityTheme-activeShaded90: #006cbd;
  --newCommunityTheme-activeTinted05: #f2f8fc;
  --newCommunityTheme-banner-backgroundColor: #2d97e5;
  --newCommunityTheme-banner-backgroundImage: initial;
  --newCommunityTheme-banner-backgroundImagePosition: cover;
  --newCommunityTheme-banner-communityNameFormat: slashtag;
  --newCommunityTheme-banner-height: 64;
  --newCommunityTheme-banner-iconColor: #0079D3;
  --newCommunityTheme-banner-iconDimensions-borderRadius: 24;
  --newCommunityTheme-banner-iconDimensions-customSize: 32;
  --newCommunityTheme-banner-iconDimensions-padding: 6;
  --newCommunityTheme-banner-iconDimensions-size: 24;
  --newCommunityTheme-banner-iconImage: initial;
  --newCommunityTheme-banner-lineHeight: 38;
  --newCommunityTheme-banner-positionedImage: initial;
  --newCommunityTheme-banner-positionedImageAlignment: left;
  --newCommunityTheme-banner-positionedImageHeight: 48;
  --newCommunityTheme-banner-secondaryBannerPositionedImage: initial;
  --newCommunityTheme-body: #1A1A1B;
  --newCommunityTheme-bodyAlpha50: rgba(26,26,27,0.5);
  --newCommunityTheme-bodyAlpha70: rgba(26,26,27,0.7);
  --newCommunityTheme-bodyAlpha80: rgba(26,26,27,0.8);
  --newCommunityTheme-bodyFade: #1A1A1B00;
  --newCommunityTheme-bodyShaded80: #141415;
  --newCommunityTheme-bodyText: #D7DADC;
  --newCommunityTheme-bodyTextAlpha03: rgba(215,218,220,0.03);
  --newCommunityTheme-bodyTextAlpha20: rgba(215,218,220,0.2);
  --newCommunityTheme-bodyTextShaded20: #2b2b2c;
  --newCommunityTheme-bodyTextTinted20: #f7f7f8;
  --newCommunityTheme-bodyTinted50: #8c8c8d;
  --newCommunityTheme-bodyTinted80: #474748;
  --newCommunityTheme-button: #D7DADC;
  --newCommunityTheme-buttonAlpha05: rgba(215,218,220,0.05);
  --newCommunityTheme-buttonAlpha10: rgba(215,218,220,0.1);
  --newCommunityTheme-buttonAlpha20: rgba(215,218,220,0.2);
  --newCommunityTheme-buttonAlpha40: rgba(215,218,220,0.4);
  --newCommunityTheme-buttonAlpha50: rgba(215,218,220,0.5);
  --newCommunityTheme-buttonAlpha80: rgba(215,218,220,0.8);
  --newCommunityTheme-buttonShaded80: #acaeb0;
  --newCommunityTheme-buttonTinted20: #f7f7f8;
  --newCommunityTheme-buttonTinted50: #ebeced;
  --newCommunityTheme-buttonTinted80: #dfe1e3;
  --newCommunityTheme-canvas: #030303;
  --newCommunityTheme-errorText: #FF0000;
  --newCommunityTheme-field: #272729;
  --newCommunityTheme-fieldFade: #27272900;
  --newCommunityTheme-flair: #343536;
  --newCommunityTheme-highlight: #17232D;
  --newCommunityTheme-inactive: #343536;
  --newCommunityTheme-invertFilter: invert(0.9);
  --newCommunityTheme-lightText: #FFFFFF;
  --newCommunityTheme-lightTextAlpha75: rgba(255,255,255,0.75);
  --newCommunityTheme-line: #343536;
  --newCommunityTheme-lineShaded80: #292a2b;
  --newCommunityTheme-lineShaded90: #2e2f30;
  --newCommunityTheme-lineShadedNinety: #2e2f30;
  --newCommunityTheme-linkText: #4FBCFF;
  --newCommunityTheme-linkTextAlpha80: rgba(79,188,255,0.5);
  --newCommunityTheme-linkTextShaded80: #3f96cc;
  --newCommunityTheme-linkTextTinted80: #72c9ff;
  --newCommunityTheme-linkTextWithBody: #4193c6;
  --newCommunityTheme-menu: #030303;
  --newCommunityTheme-menuActiveText: #D7DADC;
  --newCommunityTheme-menuInactiveText: #D7DADC;
  --newCommunityTheme-metaText: #818384;
  --newCommunityTheme-metaTextAlpha50: rgba(129,131,132,0.5);
  --newCommunityTheme-metaTextShaded80: #676869;
  --newCommunityTheme-monospaceColor: #5291f8;
  --newCommunityTheme-navBar-activeLink: #E9F5FD;
  --newCommunityTheme-navBar-activeSubmenuCaret: #D7DADC;
  --newCommunityTheme-navBar-activeSubmenuLink: #D7DADC;
  --newCommunityTheme-navBar-backgroundColor: #030303;
  --newCommunityTheme-navBar-backgroundImage: initial;
  --newCommunityTheme-navBar-hoverLink: #D7DADC;
  --newCommunityTheme-navBar-inactiveLink: #D7DADC;
  --newCommunityTheme-navBar-inactiveSubmenuCaret: #D7DADC;
  --newCommunityTheme-navBar-inactiveSubmenuLink: #D7DADC;
  --newCommunityTheme-navBar-submenuBackgroundColor: #1A1A1B;
  --newCommunityTheme-navIcon: #D7DADC;
  --newCommunityTheme-navIconFaded10: rgba(215,218,220,0.1);
  --newCommunityTheme-pageHeader: #818384;
  --newCommunityTheme-placeholder: #3A3A3C;
  --newCommunityTheme-post: #1A1A1B;
  --newCommunityTheme-postError: #301718;
  --newCommunityTheme-postFlairText: #FFFFFF;
  --newCommunityTheme-postIcon: #818384;
  --newCommunityTheme-postLine: #343536;
  --newCommunityTheme-postLineShaded80: #292a2b;
  --newCommunityTheme-postLineShaded90: #2e2f30;
  --newCommunityTheme-postTinted20: #d1d1d1;
  --newCommunityTheme-postTransparent20: rgba(26,26,27,0.8);
  --newCommunityTheme-primaryButtonShadedEighty: #acaeb0;
  --newCommunityTheme-primaryButtonTintedEighty: #dfe1e3;
  --newCommunityTheme-primaryButtonTintedFifty: #ebeced;
  --newCommunityTheme-primaryButtonTintedSixty: #e7e8ea;
  --newCommunityTheme-report: #1C1402;
  --newCommunityTheme-titleText: #D7DADC;
  --newCommunityTheme-voteIcons-downvoteActive: initial;
  --newCommunityTheme-voteIcons-downvoteInactive: initial;
  --newCommunityTheme-voteIcons-upvoteActive: initial;
  --newCommunityTheme-voteIcons-upvoteInactive: initial;
  --newCommunityTheme-voteText-base: #818384;
  --newCommunityTheme-voteText-downvote: #7193FF;
  --newCommunityTheme-voteText-downvoteShaded80: #5a75cc;
  --newCommunityTheme-voteText-downvoteTinted80: #8da8ff;
  --newCommunityTheme-voteText-upvote: #FF4500;
  --newCommunityTheme-voteText-upvoteShaded80: #cc3700;
  --newCommunityTheme-voteText-upvoteTinted80: #ff6a32;
  --newCommunityTheme-widgetColors-lineColor: #343536;
  --newCommunityTheme-widgetColors-sidebarWidgetBackgroundColor: #1A1A1B;
  --newCommunityTheme-widgetColors-sidebarWidgetBorderColor: #474748;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColor: #1A1A1B;
  --newCommunityTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(26,26,27,0.6);
  --newCommunityTheme-widgetColors-sidebarWidgetTextColor: #D7DADC;
  --newCommunityTheme-widgetColors-sidebarWidgetTextColorShaded80: #acaeb0;
  --newCommunityTheme-widgetColors-sidebarWidgetTitleColor: #818384;
  --newRedditTheme-actionIcon: #818384;
  --newRedditTheme-actionIconAlpha20: rgba(129,131,132,0.2);
  --newRedditTheme-actionIconAlpha50: rgba(129,131,132,0.5);
  --newRedditTheme-actionIconShaded80: #676869;
  --newRedditTheme-actionIconTinted80: #9a9b9c;
  --newRedditTheme-active: #0079D3;
  --newRedditTheme-activeAlpha10: rgba(0,121,211,0.1);
  --newRedditTheme-activeAlpha20: rgba(0,121,211,0.2);
  --newRedditTheme-activeAlpha50: rgba(0,121,211,0.5);
  --newRedditTheme-activeLight60: #33a8ff;
  --newRedditTheme-activeShaded80: #0060a8;
  --newRedditTheme-activeShaded90: #006cbd;
  --newRedditTheme-activeTinted05: #f2f8fc;
  --newRedditTheme-banner-backgroundColor: #24A0ED;
  --newRedditTheme-banner-backgroundImage: initial;
  --newRedditTheme-banner-backgroundImagePosition: cover;
  --newRedditTheme-banner-communityNameFormat: slashtag;
  --newRedditTheme-banner-height: 64;
  --newRedditTheme-banner-iconColor: #24A0ED;
  --newRedditTheme-banner-iconDimensions-borderRadius: 24;
  --newRedditTheme-banner-iconDimensions-customSize: 32;
  --newRedditTheme-banner-iconDimensions-padding: 6;
  --newRedditTheme-banner-iconDimensions-size: 24;
  --newRedditTheme-banner-iconImage: initial;
  --newRedditTheme-banner-lineHeight: 38;
  --newRedditTheme-banner-positionedImage: initial;
  --newRedditTheme-banner-positionedImageAlignment: cover;
  --newRedditTheme-banner-positionedImageHeight: 48;
  --newRedditTheme-banner-secondaryBannerPositionedImage: initial;
  --newRedditTheme-body: #1A1A1B;
  --newRedditTheme-bodyAlpha50: rgba(26,26,27,0.5);
  --newRedditTheme-bodyAlpha70: rgba(26,26,27,0.7);
  --newRedditTheme-bodyAlpha80: rgba(26,26,27,0.8);
  --newRedditTheme-bodyFade: #1A1A1B00;
  --newRedditTheme-bodyShaded80: #141415;
  --newRedditTheme-bodyText: #D7DADC;
  --newRedditTheme-bodyTextAlpha03: rgba(215,218,220,0.03);
  --newRedditTheme-bodyTextAlpha20: rgba(215,218,220,0.2);
  --newRedditTheme-bodyTextShaded20: #2b2b2c;
  --newRedditTheme-bodyTextTinted20: #f7f7f8;
  --newRedditTheme-bodyTinted50: #8c8c8d;
  --newRedditTheme-bodyTinted80: #474748;
  --newRedditTheme-button: #D7DADC;
  --newRedditTheme-buttonAlpha05: rgba(215,218,220,0.05);
  --newRedditTheme-buttonAlpha10: rgba(215,218,220,0.1);
  --newRedditTheme-buttonAlpha20: rgba(215,218,220,0.2);
  --newRedditTheme-buttonAlpha40: rgba(215,218,220,0.4);
  --newRedditTheme-buttonAlpha50: rgba(215,218,220,0.5);
  --newRedditTheme-buttonAlpha80: rgba(215,218,220,0.8);
  --newRedditTheme-buttonShaded80: #acaeb0;
  --newRedditTheme-buttonTinted20: #f7f7f8;
  --newRedditTheme-buttonTinted50: #ebeced;
  --newRedditTheme-buttonTinted80: #dfe1e3;
  --newRedditTheme-canvas: #030303;
  --newRedditTheme-errorText: #FF0000;
  --newRedditTheme-field: #272729;
  --newRedditTheme-fieldFade: #27272900;
  --newRedditTheme-flair: #343536;
  --newRedditTheme-highlight: #17232D;
  --newRedditTheme-inactive: #343536;
  --newRedditTheme-invertFilter: invert(0.9);
  --newRedditTheme-lightText: #FFFFFF;
  --newRedditTheme-lightTextAlpha75: rgba(255,255,255,0.75);
  --newRedditTheme-line: #343536;
  --newRedditTheme-lineShaded80: #292a2b;
  --newRedditTheme-lineShaded90: #2e2f30;
  --newRedditTheme-lineShadedNinety: #2e2f30;
  --newRedditTheme-linkText: #4FBCFF;
  --newRedditTheme-linkTextAlpha80: rgba(79,188,255,0.5);
  --newRedditTheme-linkTextShaded80: #3f96cc;
  --newRedditTheme-linkTextTinted80: #72c9ff;
  --newRedditTheme-linkTextWithBody: #4193c6;
  --newRedditTheme-menu: #030303;
  --newRedditTheme-menuActiveText: #D7DADC;
  --newRedditTheme-menuInactiveText: #D7DADC;
  --newRedditTheme-metaText: #818384;
  --newRedditTheme-metaTextAlpha50: rgba(129,131,132,0.5);
  --newRedditTheme-metaTextShaded80: #676869;
  --newRedditTheme-monospaceColor: #5291f8;
  --newRedditTheme-navBar-activeLink: #E9F5FD;
  --newRedditTheme-navBar-activeSubmenuCaret: #D7DADC;
  --newRedditTheme-navBar-activeSubmenuLink: #D7DADC;
  --newRedditTheme-navBar-backgroundColor: #030303;
  --newRedditTheme-navBar-backgroundImage: initial;
  --newRedditTheme-navBar-hoverLink: #D7DADC;
  --newRedditTheme-navBar-inactiveLink: #D7DADC;
  --newRedditTheme-navBar-inactiveSubmenuCaret: #D7DADC;
  --newRedditTheme-navBar-inactiveSubmenuLink: #D7DADC;
  --newRedditTheme-navBar-submenuBackgroundColor: #1A1A1B;
  --newRedditTheme-navIcon: #D7DADC;
  --newRedditTheme-navIconFaded10: rgba(215,218,220,0.1);
  --newRedditTheme-pageHeader: #818384;
  --newRedditTheme-placeholder: #3A3A3C;
  --newRedditTheme-post: #1A1A1B;
  --newRedditTheme-postError: #301718;
  --newRedditTheme-postFlairText: #FFFFFF;
  --newRedditTheme-postIcon: #818384;
  --newRedditTheme-postLine: #343536;
  --newRedditTheme-postLineShaded80: #292a2b;
  --newRedditTheme-postLineShaded90: #2e2f30;
  --newRedditTheme-postTinted20: #d1d1d1;
  --newRedditTheme-postTransparent20: rgba(26,26,27,0.8);
  --newRedditTheme-primaryButtonShadedEighty: #acaeb0;
  --newRedditTheme-primaryButtonTintedEighty: #dfe1e3;
  --newRedditTheme-primaryButtonTintedFifty: #ebeced;
  --newRedditTheme-primaryButtonTintedSixty: #e7e8ea;
  --newRedditTheme-report: #1C1402;
  --newRedditTheme-titleText: #D7DADC;
  --newRedditTheme-voteIcons-downvoteActive: initial;
  --newRedditTheme-voteIcons-downvoteInactive: initial;
  --newRedditTheme-voteIcons-upvoteActive: initial;
  --newRedditTheme-voteIcons-upvoteInactive: initial;
  --newRedditTheme-voteText-base: #818384;
  --newRedditTheme-voteText-downvote: #7193FF;
  --newRedditTheme-voteText-downvoteShaded80: #5a75cc;
  --newRedditTheme-voteText-downvoteTinted80: #8da8ff;
  --newRedditTheme-voteText-upvote: #FF4500;
  --newRedditTheme-voteText-upvoteShaded80: #cc3700;
  --newRedditTheme-voteText-upvoteTinted80: #ff6a32;
  --newRedditTheme-widgetColors-lineColor: #343536;
  --newRedditTheme-widgetColors-sidebarWidgetBackgroundColor: #1A1A1B;
  --newRedditTheme-widgetColors-sidebarWidgetBorderColor: #474748;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColor: #1A1A1B;
  --newRedditTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(26,26,27,0.6);
  --newRedditTheme-widgetColors-sidebarWidgetTextColor: #D7DADC;
  --newRedditTheme-widgetColors-sidebarWidgetTextColorShaded80: #acaeb0;
  --newRedditTheme-widgetColors-sidebarWidgetTitleColor: #818384;
  --subredditContext-emojiHeight: initial;
  --subredditContext-emojiWidth: initial;
}